.footer {
  background-image: url('/blank-chalkboard-big.png');
  color: #ffffff;
  padding: 2rem 0 3rem 0;
}

.container {
  text-align: center;
}

.text {
  font-size: 0.875rem;
  margin-top: 0.25rem;
  margin-bottom: 1.5rem;
}

.title {
  margin-bottom: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.link {
  color: inherit;
  text-decoration: none;
  font-size: 0.875rem;
  transition: transform 0.2s ease;
}

.link:hover {
  transform: scale(1.25);
}