.history {
  width: 580px;
  height: 580px;
  padding: 10px;
  border-radius: 10px;
}

.chalkboard {
  background-image: url('/blank-chalkboard.png');
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  border: 12px solid #ad7955;
  box-shadow: inset 0;
}

.text {
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  text-align: center;
}

.historyList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.historyItem {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

.correct {
  background-color: rgba(0, 255, 0, 0.1);
}

.incorrect {
  background-color: rgba(255, 0, 0, 0.1);
}

.equation {
  font-size: 1.2em;
}

.result {
  font-size: 1.5em;
}

.emptyState {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: bold;
}