.navbar {
  background-image: url('/blank-chalkboard-big.png');
  padding: 1rem;
  width: 100%;
}

.navbarContainer {
  margin-left: 8px;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.navLink:hover {
  color: #007bff;
}

.avatarContainer {
  margin-left: auto;
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f0f0f0;
  transition: transform 0.2s ease;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.avatarContainer:hover {
  transform: scale(1.1);
}

.avatarContainer:active {
  transform: scale(0.95);
}
