.navbar {
  background-image: url('/blank-chalkboard-big.png');
  padding: 1rem;
  width: 100%;
}

.navbarContainer {
  margin-left: 8px;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navLink {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.navLink:hover {
  color: #007bff;
}

.menu {
  margin-left: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.profilePic {
  transition: transform 0.2s ease;
}

.profilePic:hover {
  transform: scale(1.1);
}

.profilePic:active {
  transform: scale(0.95);
}
