.container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  gap: 2px;
  padding: 1px;
  grid-template-columns: repeat(2, 50%);
  width: 100%;
}

.expression {
  text-align: center;
  color: blue;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  min-height: 60px;
  grid-column: span 1;
  width: 100%;
}

.buttonGroup {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}