@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap');

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Playpen Sans', cursive;
}

main {
  margin: 0 auto;
  width: 80vw;
}

.layout-container {
  min-height: 100vh;
  margin: 0;
}

.content-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 0 auto;
}

.logo {
  width: 300px;
  height: auto;
}